/* Variáveis de cores */
:root {
  --primary-blue: #0033a8;
  --secondary-blue:#90acec;
  --light-blue: #e6f0ff;
  --text-dark: #1a1a1a;
  --text-medium: #333333;
  --white: #ffffff;
  --button-hover: #002b85;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --light-blue: #f0f9fe;
  --dark-blue: #2d3c72;
  --gray: #363e49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--light-blue);
  background-image: url('../images/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h2 {
  font-size: 20px;
  color: var(--dark-blue);
}
span {
  font-size: 14px;
  color: var(--gray);
  font-weight: 600;
  
}

.content{
    width: 90vw;
    height: 80vh;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description{
  background-color:var(--primary-blue) ;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  
}

.description h1, h2{
  font-size: 32px;
  color: var(--white);

}

.description p{
  font-size: 18px;
  color: var(--light-blue);
}.content-cards {
  background: var(--light-blue);
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto 1fr;
  gap: 10px; 
  padding: 25px;
}

.card {
  background: #FFF;
  grid-column: span 1;
  border-radius: 10px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 100px
}
.card:last-child {
  grid-column: span 2;
  justify-content: center;
}

.icon-description {
  width: 50px;
  height: 50px;
}
.text-card {
  color: var(--dark-blue);
}

.content-description {
  grid-column: span 2;  
  margin-bottom: 50px;
}